/* Creation du style de la page */
:root {
  --main-color: #a306b6;
  --secondary-color: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Section Hero en background */
.hero {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: linear-gradient(rgba(255, 255, 255, 0.5), #d372de),
    url("./Images/bacground-with-logo.jpg");
  background-position: center;
  background-size: cover;
  z-index: -1;
}

/* Section Hero en background */
.hero {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: linear-gradient(rgba(255, 255, 255, 0.5), #d372de),
    url("../public/Images/bacground-with-logo.jpg");
  background-position: center;
  background-size: cover;
  z-index: -1;
}

body {
  background: linear-gradient(var(--secondary-color), var(--main-color));
}

/* NavBar component*/

/* Format mobile */
.navBarMW {
  display: grid;
  justify-items: center;
  align-items: center;
}

.logoMW {
  width: 40%;
  margin-top: 1em;
  cursor: pointer;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.titleMW {
  visibility: hidden;
}

.listAndSearch {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.navBarLink {
  display: flex;
  margin-left: 0.5em;
  gap: 2em;
}

nav,
li,
a {
  text-decoration: none;
  list-style: none;
  gap: 0.5em;
  color: #551a8b;
}

.loupe {
  height: 25px;
  width: 25px;
  position: absolute;
  transform: translateX(-120%) translateY(15%);
}

.searchBar {
  padding: 0.7em 7em;
  border: 0.5px solid black;
}

/* Format Desktop */

@media screen and (min-width: 992px) {
  .navBarMW {
    display: flex;
    justify-content: center;
  }

  .logoMW {
    width: 20%;
    margin-top: 1em;
  }

  .titleMW {
    visibility: visible;
    height: 20%;
    margin-top: 2em;
  }
}

/*Footer component*/
/*Format mobile*/
.footerClass {
  background-color: black;
  color: var(--secondary-color);
  padding-top: 1em;
  display: flex;
  justify-content: space-evenly;
  bottom: 0;
  width: 100%;
}

/*Format Desktop*/
@media screen and (min-width: 992px) {
  .footerClass {
    height: 5em;
    padding-top: 2em;
  }
}

/*Main*/
/*Album and News*/
.albums,
.news {
  text-align: center;
}

.albumTitle,
.newsTitle,
.artistTitle {
  margin: 2em 2em;
  text-align: center;
}

/*Carousel creation*/
.carouselAlbum,
.carouselNews,
.artistList {
  position: relative;
  width: 100%;
  margin: 0 auto;
  padding: 1em 0;
}

.carousel-card-album,
.carousel-card-news,
.carousel-card-artist {
  display: flex;
  gap: 1em;
  transition: transform 0.5s;
}

.carousel-slide-album,
.carousel-slide-news,
.carousel-slide-artist {
  flex: 0 0 auto;
  width: 200px;
  text-align: center;
  cursor: pointer;
}

.carousel-image-album,
.carousel-image-news {
  width: 100%;
  border-radius: 10%;
  transition: transform 0.5s;
}
.artistPictures {
  width: 100%;
  border-radius: 100%;
  transition: transform 0.5s;
}

.carousel-image-album:hover,
.carousel-image-news:hover,
.artistPictures:hover {
  transform: scale(1.1);
}

.carousel-btn-prec-album,
.carousel-btn-prec-news,
.carousel-btn-prec-artist {
  position: absolute;
  top: 50%;
  cursor: pointer;
  background: black;
  height: 3.1em;
  width: 4%;
  font-size: 4rem;
  left: 0;
  opacity: 50%;
  color: #cfb3eb;
  transform: translateY(-68%);
  z-index: 1;
}

.carousel-btn-next-album,
.carousel-btn-next-news,
.carousel-btn-next-artist {
  position: absolute;
  top: 50%;
  cursor: pointer;
  background: black;
  height: 3.1em;
  width: 4%;
  font-size: 4rem;
  right: 0;
  opacity: 50%;
  color: #cfb3eb;
  transform: translateY(-68%);
  z-index: 1;
}

.carousel-btn-prec-album:hover,
.carousel-btn-next-album:hover,
.carousel-btn-prec-news:hover,
.carousel-btn-next-news:hover,
.carousel-btn-prec-artist:hover,
.carousel-btn-next-artist:hover {
  color: #ffffff;
  opacity: 70%;
}
@media screen and (max-width: 992px) {
  .carousel-btn-next-album,
  .carousel-btn-prec-album,
  .carousel-btn-next-news,
  .carousel-btn-prec-news,
  .carousel-btn-prec-artist,
  .carousel-btn-next-artist {
    width: 10%;
  }
}
.albumName,
.newsName,
.artistName {
  color: black;
}
/*AlbumDetails*/
/*Format mobile*/
.albumDetails {
  margin-top: 1em;
  text-align: center;
}

.albumPlay {
  width: 100%;
  margin-top: 2em;
}

audio {
  width: 200px;
}

/*Format Desktop*/
@media screen and (min-width: 992px) {
  .albumPlay {
    margin-top: 5em;
    text-align: left;
  }

  audio {
    width: 300px;
  }
}
