/* Creation du style de la page */
:root {
  --main-color: #a306b6;
  --secondary-color: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Section Hero en background */
.hero {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: linear-gradient(rgba(255, 255, 255, 0.5), #d372de),
    url("./Images/bacground-with-logo.jpg");
  background-position: center;
  background-size: cover;
  z-index: -1;
}

/* Section Hero en background */
.hero {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: linear-gradient(rgba(255, 255, 255, 0.5), #d372de),
    url("../public/Images/bacground-with-logo.jpg");
  background-position: center;
  background-size: cover;
  z-index: -1;
}

body {
  background: linear-gradient(var(--secondary-color), var(--main-color));
}

/* NavBar component*/

/* Format mobile */
.navBarMW {
  display: grid;
  justify-items: center;
  align-items: center;
}

.logoMW {
  width: 40%;
  margin-top: 1em;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.titleMW {
  visibility: hidden;
}

.listAndSearch {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.navBarLink {
  display: flex;
  margin-left: 0.5em;
  gap: 2em;
}

nav,
li,
a {
  text-decoration: none;
  list-style: none;
  gap: 0.5em;
  color: #551a8b;
}

.loupe {
  height: 25px;
  width: 25px;
  position: absolute;
  transform: translateX(-120%) translateY(15%);
}

.searchBar {
  padding: 0.7em 7em;
  border: 0.5px solid black;
}

/* Format Desktop */

@media screen and (min-width: 992px) {
  .navBarMW {
    display: flex;
    justify-content: center;
  }

  .logoMW {
    width: 20%;
    margin-top: 1em;
  }

  .titleMW {
    visibility: visible;
    height: 20%;
    margin-top: 2em;
  }
}

/*Footer component*/
/*Format mobile*/
.footerClass {
  background-color: black;
  color: var(--secondary-color);
  padding-top: 1em;
  display: flex;
  justify-content: space-evenly;
  bottom: 0;
  width: 100%;
}

/*Format Desktop*/
@media screen and (min-width: 992px) {
  .footerClass {
    height: 5em;
    padding-top: 2em;
  }
}

/*Main*/
/*Artistes*/
.artists {
  text-align: center;
}

.artistTitle {
  margin: 2em 2em;
}

.artistList {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.artistPictures {
  border-radius: 100%;
}
/*Album and News*/
.albums,
.news {
  text-align: center;
}

.newsTitle {
  margin: 2em 2em;
}
.newsList {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-bottom: 2em;
}
.newsCover {
  cursor: pointer;
}
/*Carousel creation*/
.carousel {
  position: relative;
  overflow: hidden;
  width: 90%;
  margin: 0 auto;
  padding: 1em 0;
}

.carousel-container {
  width: 100%;
}

.carousel-card {
  display: flex;
  gap: 1em;
  transition: transform 0.5s;
}

.carousel-slide {
  flex: 0 0 auto;
  width: 200px;
  text-align: center;
  cursor: pointer;
}

.carousel-image {
  width: 100%;
  border-radius: 10%;
  transition: transform 0.5s;
}

.carousel-image:hover {
  transform: scale(1.1);
}

.carousel-btn-prec {
  position: absolute;
  top: 50%;
  cursor: pointer;
  border-radius: 50%;
  left: 1em;
  background-color: #ffffff;
  color: #551a8b;
  width: 3em;
  height: 3em;
  transform: translateY(-130%);
  z-index: 10;
}

.carousel-btn-next {
  position: absolute;
  top: 50%;
  cursor: pointer;
  border-radius: 50%;
  right: 1em;
  background-color: #ffffff;
  color: #551a8b;
  width: 3em;
  height: 3em;
  transform: translateY(-130%);
  z-index: 10;
}

/*AlbumDetails*/
/*Format mobile*/
.albumDetails {
  margin-top: 1em;
  text-align: center;
}

.albumPlay {
  width: 100%;
  margin-top: 2em;
}

audio {
  width: 200px;
}

/*Format Desktop*/
@media screen and (min-width: 992px) {
  .albumPlay {
    margin-top: 5em;
    text-align: left;
  }

  audio {
    width: 300px;
  }
}
