/* Creation du style de la page */
:root {
  --main-color: #a306b6;
  --secondary-color: #ffffff;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(var(--secondary-color), var(--main-color));
}

/* NavBar component*/

/* Format mobile */
.navBarMW {
  display: grid;
  justify-items: center;
}
.logoMW {
  width: 40%;
  margin-top: 1em;
}
.titleMW {
  visibility: hidden;
}

/* Format Desktop */

@media screen and (min-width: 992px) {
  .navBarMW {
    display: flex;
    justify-content: center;
  }
  .logoMW {
    width: 20%;
    margin-top: 1em;
  }
  .titleMW {
    visibility: visible;
    height: 20%;
    margin-top: 2em;
  }
}

/*Footer component*/
/*Format mobile*/
.footerClass {
  background-color: black;
  color: var(--secondary-color);
  padding-top: 1em;
  display: flex;
  justify-content: space-evenly;
}
/*Format Desktop*/
@media screen and (min-width: 992px) {
  .footerClass {
    height: 5em;
    padding-top: 2em;
  }
}
