* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --prymary-color-bg: #e955bd;
  --2d-color-bg: white;
  --font-default: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

input {
  margin: 2px;
  padding: 5px;
  border: none;
  background-color: var(--2d-color-bg);
  height: 30px;
  border-radius: 3px;
}

.search {
  padding: 0.28rem;
  margin: auto;
  width: fit-content;
  background-color: var(--prymary-color-bg);
  border-radius: 10px;
  flex-wrap: wrap;
}

button {
  border: none;
  border-radius: 0 10px 10px 0;
  height: 30px;
  background-color: var(--prymary-color-bg);
  width: 60px;
  padding: 1px;
  color: var(--2d-color-bg);
  cursor: pointer;
}

.delete {
  border: none;
  border-radius: 10px;
  padding: 1px;

  cursor: pointer;
  transform: translateX(-15px);
}

#category {
  border: none;
  height: 30px;
  cursor: pointer;
  background-color: var(--prymary-color-bg);
  color: var(--2d-color-bg);
}

.cards {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.card {
  border: 1px solid transparent;
  width: 200px;
  margin: 20px;
  display: flex;
  flex-direction: column;
  background-color: var(--2d-color-bg);
  cursor: pointer;
}

.card:hover {
  border: 2px solid transparent;
  box-shadow: 3px 3px 26px rgb(4, 20, 3);
  border-color: #e955bd;
}

.card h1 {
  padding-left: 0.3rem;
  font-size: medium;
}

.card a {
  text-decoration: none;
  padding-left: 0.3rem;
}

.trackList {
  width: 42%;
  padding: 1rem;
  margin: 10px auto;
  display: grid;
  border-style: inherit;
  background-color: #d88ee7;
}

.trackList h1 {
  padding: 1rem;
  font-size: 36px;
  font-family: var(--font-default);
  width: 100%;
  margin: auto;
  text-align: center;
  background-color: #d181ca;
  color: white;
}

.track {
  padding: 0.4rem;
  border-radius: 10px 30px 30px 10px;
  width: 100%;
  margin: 0.1rem auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  background-color: var(--2d-color-bg);
  gap: 0.3rem;
}

.track h2 {
  padding-left: 0.3rem;
  font-size: medium;
}

.introduction {
  display: flex;
  margin: 10px auto;
  width: 100%;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  background-color: var(--2d-color-bg);
  padding: 0.4rem;
  border-radius: 10px;
  background-color: #ebebeb;
}

.introduction span h2 {
  padding-left: 0.5rem;
  font-family: var(--font-default);
  font-size: 36px;
}

.detailsArtist {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1px;
}

.detailsAlbum span h2 {
  font-size: 30px;
  font-family: var(--font-default);
}

.buttonAlbums {
  border: none;
  border-radius: 15px;
  height: 2.1rem;
  background-color: var(--prymary-color-bg);
  width: 6rem;
  padding: 1px;
  margin-left: 10px;
  margin-bottom: 20px;
  color: var(--2d-color-bg);
  cursor: pointer;
  font-family: var(--font-default);
  font-size: 18px;
  font-weight: bold;
}

.returnList {
  border: none;
  border-radius: 15px;
  height: 2.1rem;
  background-color: var(--prymary-color-bg);
  width: fit-content;
  padding-left: 1em;
  padding-right: 1rem;
  margin: 5px;
  color: var(--2d-color-bg);
  cursor: pointer;
  font-family: var(--font-default);
  font-size: 18px;
  font-weight: bold;
}

/* title search results */

.titleSearchResults {
  padding: 0.6rem;
  text-align: center;
  width: 100%;
  margin-top: 2em;
  background-color: rgba(255, 255, 255, 0.5);
  color: rgb(63, 23, 23);
}

.titleSearchResults h2 {
  padding-left: 0.3rem;
  padding-top: 0.3rem;
  font-family: var(--font-default);
  font-size: 24px;
  font-weight: lighter;
}

/* title search results */

.titleSearchResults {
  padding: 0.6rem;
  text-align: center;
  width: 100%;
  margin-top: 2em;
  background-color: rgba(255, 255, 255, 0.5);
  color: rgb(63, 23, 23);
}

.titleSearchResults h2 {
  padding-left: 0.3rem;
  padding-top: 0.3rem;
  font-family: var(--font-default);
  font-size: 24px;
  font-weight: lighter;
}
