.container {
  display: flex;
  border: 3px solid;
  width: 80%;
  height: 80%;
  border-radius: 10px;
  border-color: #a306b6;
  background-color: #f4f4f4;
  margin: auto;
}

button:hover {
  opacity: 0.7;
}

.button:active {
  background-color: #a306b6;
  box-shadow: 0 5px #f4f4f4;
  transform: translateY(4px);
}

.button {
  display: inline-block;
  justify-content: center;
  padding: 100px 100px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #f4f4f4;
  background-color: #a306b6;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #f4f4f4;
  border: 2px solid;
  border-color: darkgrey;
  border-radius: 25px;
  width: 400px;
  height: 150px;
  padding: 10px;
  margin-left: 10px;
}

h1 {
  color: #a306b6;
  text-align: center;
  padding: 25px;
}

ul {
  margin: 50px 50px 50px 50px;
}
