* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --prymary-color-bg: #e955bd;
  --2d-color-bg: white;
}

input {
  margin: 2px;
  padding: 5px;
  border: none;
  background-color: var(--2d-color-bg);
  height: 30px;
  border-radius: 3px;
}

.search {
  padding: 0.28rem;
  margin: auto;
  width: fit-content;
  background-color: var(--prymary-color-bg);
  border-radius: 10px;
}

button {
  border: none;
  border-radius: 0 10px 10px 0;
  height: 30px;
  background-color: var(--prymary-color-bg);
  width: 60px;
  padding: 1px;
  color: var(--2d-color-bg);
  cursor: pointer;
}

#category {
  border: none;
  height: 30px;
  cursor: pointer;
  background-color: var(--prymary-color-bg);
  color: var(--2d-color-bg);
}

.cards {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.card {
  border-radius: 10px;
  width: 200px;
  margin: 20px;
  display: flex;
  flex-direction: column;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  background-color: var(--2d-color-bg);
  cursor: pointer;
}

.card h1 {
  padding-left: 0.3rem;
  font-size: medium;
}

.card a {
  text-decoration: none;
  padding-left: 0.3rem;
}

.trackList {
  width: 42%;
  padding: 1rem;
  margin: 10px auto;
  display: grid;
  border-style: inherit;
  background-color: #d88ee7;
}

.trackList h1 {
  padding: 1rem;
  font-size: 36px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  width: 100%;
  margin: auto;
  text-align: center;
  background-color: #d181ca;
  color: white;
}

.track {
  padding: 0.4rem;
  border-radius: 10px 30px 30px 10px;
  width: 100%;
  margin: 0.1rem auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  background-color: var(--2d-color-bg);
  gap: 0.3rem;
}

.track h2 {
  padding-left: 0.3rem;
  font-size: medium;
}

.introduction {
  display: flex;
  margin: 10px auto;
  width: 100%;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  background-color: var(--2d-color-bg);
  padding: 0.4rem;
  border-radius: 10px;
  background-color: #ecdbdb;
}

.introduction span h2 {
  padding-left: 0.5rem;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 36px;
}